$dark: #0a0e17;
$dark-light: #222a33;
$dark-gray: #6c829d;
$gray: #becde3;
$blue: #16bdf9;
$dark-blue: #1c7293;
$gold: linear-gradient(
  116deg,
  #c2ad7b 0%,
  #957742 30%,
  #ffe399 63%,
  #947c4f 100%
);
