<article class="example" id="uk">
  <include src="./components/header.html"></include>
  <select class="select-languages">
    <option class="select-language" value="en">English</option>
    <option class="select-language" value="ru">Свинособача</option>
    <option class="select-language" value="uk">Українська</option>
  </select>
  <p data-i18n="Hello"></p>
  <p data-i18n="word"></p>
  <p data-i18n="How are you?"></p>

  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->

  <img src="assets/images/logo.svg" alt="" width="320" />
  <script type="module" src="./js/example.js"></script>
</article>
